/* You can add global styles to this file, and also import other style files */
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/bootstrap/scss/bootstrap";

html {
  background: #3f4049;
}

body {
  background: #fff;
  color: #616161;
  font: 1rem/1.8 Arial, Helvetica, sans-serif;
}

// main page header
#header {
  .container {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    height: 62px;
    width: 300px;
    text-indent: -9999px;
    overflow: hidden;

    a {
      display: block;
      height: 100%;
      background: url('/assets/images/logo-cat.svg') no-repeat;
      background-size: 100% 100%;
    }
  }
}

#nav {
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font: bold 0.875rem/1.2 'Poppins', sans-serif;

    li {
      margin-left: 1.25rem;

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      color: #272727;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: #feb960;
      }
    }
  }
}

// promo section begin
.promo {
  background: url('/assets/images/bg-promo.jpg') no-repeat 50% 50%;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;

  h1 {
    margin-bottom: 2rem;
    font: bold 3.75rem/1.2 'Libre Baskerville', serif;
  }

  h2 {
    margin-bottom: 1rem;
    font: bold 1.5rem/1.2 'Libre Baskerville', serif;
  }

  button {
    margin: 0 0 4rem;
    border: none;
    font: bold 1rem/3rem 'Poppins', sans-serif;
    padding: 0 2.5rem;
    border-radius: 1.5rem;
    color: #fff;
    background: #fc5f45;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    text-transform: uppercase;
  }

  .contacts {
    .fas {
      margin-right: 0.5rem;
    }

    .col-12:first-child * {
      color: #feb960;
    }

    .col-12:nth-child(2) * {
      color: #38c695;
    }

    .col-12:nth-child(3) * {
      color: #00aff0;
    }

    .col-12:last-child * {
      color: #368bbe;
    }

    strong {
      padding-right: 0.5rem;
    }

    a {
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: #fff !important;
      }
    }
  }
}
