<!-- main header begin -->
<header id="header">
  <div class="container">
    <strong class="logo"><a href="#">Dimand Website</a></strong>
    <nav id="nav">
      <ul>
        <li><a href="#">Моё резюме</a></li>
        <li><a href="#">JavaScript</a></li>
        <li><a href="#">Typescript</a></li>
        <li><a href="#">Angular</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- main header end -->

<main id="main">
  <!-- promo section begin -->
  <section class="promo">
    <div class="container">
      <h1>Делай то, что нравится — и в твоей жизни не будет ни одного рабочего дня.</h1>
      <button>Моё резюме</button>
      <h2>Контактные данные:</h2>
      <div class="row contacts">
        <div class="col-12 col-md-6 col-lg-3 mb-2"><i class="fas fa-mobile-alt"></i><a href="tel:+380979122189">+380979122189</a></div>
        <div class="col-12 col-md-6 col-lg-3 mb-2"><i class="fas fa-envelope-open-text"></i><a href="mailto:dimand81179@gmail.com">dimand81179@gmail.com</a></div>
        <div class="col-12 col-md-6 col-lg-3 mb-2"><strong>Skype:</strong><a href="skype:dimand81179">dimand81179</a></div>
        <div class="col-12 col-md-6 col-lg-3 mb-2"><strong>LinkedIn:</strong><a href="https://ua.linkedin.com/in/dmitriy-andriyanov-34a223108" target="_blank">Dmitriy Andriyanov</a></div>
      </div>
    </div>
  </section>
  <!-- promo section end -->


  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


</main>
